#contact-page {
  border: solid 1px blue;
  height: 100%;
}

#contact-page ul {
  list-style-type: none;
  margin: 5px;
}

#contact-search-box {
  width: 100%;
}

#contact-list {
  /*overflow: auto;*/
}

#contact-listing {
  float:left;
  width: 20%;
  height: 100%;
  border: solid 2px blue;
  overflow: auto;
}

#contact-create {
  width: 100%;
}

#contact-content {
  float:left;
  width: 60%;
  height: 100%;
  border: solid 2px yellow;
}

#contact-reception-selector {
  width: 400px;
}

#contact-rightbar {
  float:right;
  width: 20%;
  border: solid 2px black;
}

#contact-base-info {
  border: 1px solid black;
}

.contact-reception {
  border: 2px solid grey;
  margin-bottom: 5px;
  box-shadow: 0 0 5px #888;
}
